body{
  background:url(https://images.pexels.com/photos/1668928/pexels-photo-1668928.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.login-form{
  display:flex; 
  flex-wrap:wrap;
  flex-direction:column;
  background:linear-gradient(45deg, #5467, transparent);  
  box-shadow:2px 4px 5px #000000, 2px 2px 6px #0386ca, 1px 2px 6px rgb(10 21 27); 
  width:300px;
  height:100%;
  margin:auto;  
  border-radius:5px;
  padding:20px;
  margin-top:120px;
}
h2{
  color:#fff;
}
 input{
  width:100%;  
  padding:12px 0px;
  border:none;
  border-radius:5px;
 margin-bottom:20px; 
}
button{
  border:none;
  padding:12px;
  width:100%;
  font-size:16px;
  border-radius:5px;
}
button:hover{
  background:#162029;
  color:#fff;
}
.field{
  position:relative;
}
.field label{
  position:absolute;
  top:30%;
  left:15px;
  transform:translateY(-50%);
  transition:.2s linear;
}
input:focus{
  border:2px solid #fff;
}
input:focus ~ label,
input:not(:placeholder-shown)~label,
input:valid ~ label {
   top:0;
  left: 15px;
  font-size: 18px;
  padding: 0 7px;
  background: #fff;
  color:#000;
  border-radius:5px;
}